body,
html {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#navhome {
    background-color: #6C915F;
}

#taladH {
    color: white;
}

#home {
    padding-left: 2em;
}

#username {
    margin-right: 7em;
    color: white;
    border: none;
    background-color: #6C915F
}

.dropdown-menu {
    left: 50%;
    transform: translateX(-25%);
}

#textuse {
    margin-left: 2em;
    padding-right: 0.25em;
}

#img1 {
    padding-right: 1em;
}

#btnhome {
    border: none;
}

#democaru {
    display: inline;
}

#navmenu {
    background-color: #B99470;
}

.btn {
    color: white;
}

#btn1 {
    border-left: 2px solid #9D8977;
}

#btn1:hover {
    background-color: #9F6E3F;
}

#btn2 {
    border-left: 2px solid #9D8977;
}

#btn2:hover {
    background-color: #9F6E3F;
}

#btn3 {
    border-left: 2px solid #9D8977;
}

#btn3:hover {
    background-color: #9F6E3F;
}

#btn4 {
    border-left: 2px solid #9D8977;
}

#btn4:hover {
    background-color: #9F6E3F;
}

#btn5 {
    border-left: 2px solid #9D8977;
}

#btn5:hover {
    background-color: #9F6E3F;
}

#btn6 {
    border-left: 2px solid #9D8977;
}

#btn6:hover {
    background-color: #9F6E3F;
}

#groupmenu {
    margin-left: 29em;
}

#h563,
#h777,
#h778 {
    border: 5px solid #322213;
}

#taladpramul {
    background-color: #8AAE75;
    margin-top: 5em;
    margin-left: 15em;
    border: 10px solid #708E60;
    border-radius: 15px;
    padding-left: 3em;
}

#text5 {
    margin-left: 4em;
    overflow: hidden;
}

#Ttaladpramul {
    margin-top: 1.5em;
    color: #F5E12D;
}

.dropdown-item:hover {
    background-color: #00672F;
    color: white;
}

#addmarket, #addmarket2 {
    background-color: white;
    border: none;
    padding-right: 2em;
    margin-left: 6em;
    margin-top: 3em;
}

#imgmark {
    width: 3em;
    padding-right: 1em;
}

.table {
    border-radius: 0.2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

/* .table td {
    white-space: nowrap;
    text-align: center;
} */


.table thead {
    position: sticky;
}


.my-custom-scrollbar {
    position: relative;
    height: 30em;
    width: 70em;
    overflow: auto;
}

#textNtalad {
    margin-top: 0.5em;
    margin-left: 1em;
}

#textstatus {
    margin-top: 2em;
    margin-left: 1em;
}

#windowMtalad {
    margin-top: 10em;
}

#contain1 {
    margin-top: 1em;
} 

#statusroom {
    background-color: #5EB787;
    width: 15em;
    height: 2.5em;
    border-radius: 9px;
}

#statusroomsam {
    background-color: #F37575;
    width: 16em;
    height: 2.5em;
    border-radius: 9px;
}

#textstaroom {
    padding-top: 5px;
}

#button-back {
    /* position: fixed; */
    top: 30em;
    border-radius: 2em;
    border: .2em;
    width: 5em;
    color: #000;
}

#state-menu, #state-menu1, #state-menu2, #state-menu3 {
    background-color: #B99470;
    margin: 0;
    width: 100%;
    padding: 0.2em;
}

.btn-group {
    display: contents;
    justify-content: center;
}

#btn-today,
#btn-ing,
#btn-ed {
    color: #000;
    border: none;
}

.useless-column {
    width: 32%;
}

.left-column {
    width: 26%;
}

.right-column {
    width: 39%;
}

#cardauc {
    margin-top: 5em;
    margin-right: 4em;
    width: 23em;
    height: 24em;
    border-radius: 5px;
}

#cardauc-sum {
    margin-top: 5em;
    margin-right: 4em;
    width: 55em;
    height: 20em;
    border-radius: 5px;
}

#tasam {
    background: none;
    border-radius: 0.2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

#thsam{
    text-align: left;
    border-bottom: #000;
}

#tdsam {
    text-align: left;
    border-bottom-color: #000;
}



img.pointer-cursor {
    cursor: pointer;
  }
