<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/log.css">
    <title>Add Auction</title>
</head>

<style>
    .card {
        background-color: #FFF1DB;
        border-radius: 2em;
    }

    #label-left {
        display: inline-block;
        clear: left;
        width: 150px;
        text-align: left;
        margin-top: 1em;
    }

    #label-right {
        text-align: left;
        margin-top: 1em;
    }

    .form-add {
        display: inline-block;
        margin-top: 1em;
        margin-right: 1em;
        border-color: #fff;
    }


    .form-add2 {
        margin-top: 1em;
        border-color: #fff;
    }

    .button-card {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }

    .sameline {
        display: inline-block;
        margin-bottom: 0%;
    }

    #card-btn {
        border: .1em;
        border-radius: 2em;
        width: 7em;
    }

    input[type=file]::file-selector-button {
        border-radius: 2em;
        background-color: #6C915F;
        color: #fff;
        border-color: #6C915F;
    }
</style>

<body id="body">
    <div class="fixed-top">
        <nav class="navbar " id="navhome">
            <div class="container-fluid" id="home">
                <button class="btn" type="button" id="btnhome">
                    <h3 id="taladH">ตลาดประมูลการยางภาคเหนือ</h3>
                </button>
                <div class="dropdown">
                    <button type="button" id="username" class="btn" data-bs-toggle="dropdown"><img
                            src="/public/img/userbutton.png" alt="" id="textuse"> Username</button>

                    <ul class="dropdown-menu" id="dropuser">
                        <li><a class="dropdown-item" href="#"><img src="/public/img/userdrop.png" alt=""
                                    id="img1">Profile</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/public/img/key.png" alt="" id="img1">Change
                                Passwaord</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/public/img/auctionuser.png" alt=""
                                    id="img1">Auction</a></li>
                        <li><a class="dropdown-item" href="#"><img src="/public/img/logout.png" alt=""
                                    id="img1">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h2 style="margin-top: 3em;text-align:center;">Add an Auction</h2>

    <div class="container mt-3 mb-4 ">
        <div class="row  ">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card px-4 py-1 mx-5">
                    <div class="card-body">
                        <p>
                            <label for="roomauc" id="label-left">ห้องประมูล</label>
                            <input type="text" class="form-add" id="roomauc">
                        </p>

                        <!-- <p>
                            <label for="picture" id="label-left">รูปภาพ, วีดีโอ</label>
                            <input type="file" class="form-add" id="picture">
                        </p> -->

                        <p>
                            <label for="small-market-Name" id="label-left">ตลาดย่อย</label>
                            <select class="form-add" id="state-select1">
                                <option value="option1">กยท.จ.เชียงราย</option>
                                <option value="option2">กยท.จ.พะเยา</option>
                                <option value="option3">กยท.จ.เชียงใหม่</option>
                                <option value="option4">กยท.จ.แพร่</option>
                                <option value="option5">กยท.จ.น่าน</option>
                                <option value="option6">กยท.จ.แม่ฮ่องสอน</option>

                            </select>
                        </p>

                        <p>
                            <label for="type-rubber" id="label-left">ประเภท</label>
                            <select class="form-add" id="state-select3">
                            </select>
                        </p>

                        <p>
                            <label for="type-rubber" id="label-left">จำนวน</label>
                            <input type="text" class="form-add" id="totalrub">
                        </p>

                        <p>
                            <label for="price" id="label-left">ราคากลาง</label>
                            <input type="text" class="form-add" id="price">
                        </p>

                        <p>
                            <label for="type-rubber" id="label-left">ราคาเริ่มต้น</label>
                            <input type="text" class="form-add" id="amount-start">
                        </p>

                        <p class="sameline">
                            <label for="date" id="label-left">วันที่ประมูล</label>
                            <input type="date" class="form-add" id="auction-date">
                            <label for="date" id="label-left">วันที่สิ้นสุดการประมูล</label>
                            <input type="date" class="form-add" id="auction-date-end">
                        </p>

                        <p class="sameline">
                            <label for="start-auction" id="label-left">เวลาเริ่มการประมูล</label>
                            <input type="time" class="form-add" id="start-auction">
                            <label for="end-auction" id="label-right"
                                style="margin-right: 1em;margin-left: 1em;">เวลาสิ้นสุดการประมูล</label>
                            <input type="time" class="form-add2" id="end-auction">
                        </p>

                        <p class="sameline">
                            <label for="state" id="label-left">สถานะ</label>
                            <!-- <select class="form-add" id="state-select2">
                                <option value="1">รอประมูล</option>
                                <option value="2">กำลังประมูล</option>
                                <option value="3">ประมูลเสร็จสิ้น</option>
                            </select> -->
                            <input style="margin-right: 0.5em; margin-left: 1em; margin-top: 1.3em;"
                                class="form-check-input" type="checkbox" id="ActiveCheckbox" value="1">
                            <label class="form-check-label" for="ActiveCheckbox">แสดงห้องประมูล</label>
                        </p>


                    </div>
                    <div>
                        <p class="button-card">
                            <button type="button" class="btn btn-success" id="confirmBtn"
                                href="/HelloNodejs/auctionAd">บันทึก</button>
                            <a href="/HelloNodejs/auctionAd" class="btn mx-1" id="card-btn2"
                                style="background-color: #DA0404;">ยกเลิก</a>
                        </p>
                    </div>
                </div>



            </div>
            <div class="col-2"></div>
        </div>

    </div>



    <script>



        document.addEventListener("DOMContentLoaded", () => {
            const confirmBtn = document.getElementById("confirmBtn");
            const auctionRoomInput = document.getElementById("roomauc");
            const marketSubSelect = document.getElementById("state-select1");
            const typeRubSelect = document.getElementById("state-select3");
            const totalRubInput = document.getElementById("totalrub");
            const priceInput = document.getElementById("price");
            const amountStartInput = document.getElementById("amount-start");
            const auctionDateInput = document.getElementById("auction-date");
            const auctionDateEndInput = document.getElementById("auction-date-end");
            const startAuctionInput = document.getElementById("start-auction"); // เพิ่มบรรทัดนี้
            const endAuctionInput = document.getElementById("end-auction"); // เพิ่มบรรทัดนี้
            const activeCheckbox = document.getElementById("ActiveCheckbox");
            const active = activeCheckbox.checked ? '1' : '0';


            confirmBtn.addEventListener("click", () => {
                const auctionName = auctionRoomInput.value;
                const marketSubName = marketSubSelect.value;
                const typeRubberValue = typeRubSelect.value;
                const totalRubber = totalRubInput.value;
                const price = priceInput.value;
                const amountStart = amountStartInput.value;
                const auctionDate = auctionDateInput.value;
                const auctionDateEnd = auctionDateEndInput.value;
                const startAuction = startAuctionInput.value; // เพิ่มบรรทัดนี้
                const endAuction = endAuctionInput.value; // เพิ่มบรรทัดนี้
                const active = activeCheckbox.value; // เพิ่มบรรทัดนี้




                const auctionData = {
                    auction_name: auctionName,
                    market_sub_name: marketSubName,
                    type_rubber_value: typeRubberValue, // ส่ง ID แทนค่าข้อความ
                    total_rubber: totalRubber,
                    price: price,
                    amount_start: amountStart,
                    auction_date: auctionDate,
                    auction_date_end: auctionDateEnd,
                    start_auction: startAuction, // เพิ่มบรรทัดนี้
                    end_auction: endAuction, // เพิ่มบรรทัดนี้
                    active_room: active
                };

                fetch('/HelloNodejs/api/add_auction', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(auctionData),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Response from server:', data);
                        // Reload the page
                        window.location.href = '/HelloNodejs/auctionAd';
                    })
                    .catch(error => {
                        console.error('Error adding auction data:', error);
                        // แสดงข้อความผิดพลาดให้กับผู้ใช้หรือจัดการข้อผิดพลาดนี้อย่างเหมาะสม
                    });
            });
        });









        // เรียก API /type_rub เมื่อหน้าเว็บโหลดเสร็จ
        window.addEventListener('DOMContentLoaded', (event) => {
            fetch('/HelloNodejs/api/type_rub')
                .then(response => response.text())
                .then(optionsHtml => {
                    // เลือกตำแหน่งของ <select> โดยใช้ id และเพิ่ม <option> จากข้อมูลที่ได้
                    document.querySelector('#state-select3').innerHTML = optionsHtml;
                })
                .catch(error => {
                    console.error('Error fetching type rubber data:', error);
                });
        });









        document.querySelector('#logouthome').onclick = function () {
            fetch("/logout")
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    }
                    throw Error("Cannot logout");
                })
                .then(function (data) {
                    location.replace(data);
                })
                .catch(function (error) {
                    console.error(error);
                })

        }









    </script>



</body>

</html>