<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/log.css">
    <title>Homepage</title>
</head>

<body id="body">
    <div class="fixed-top">
        <nav class="navbar " id="navhome">
            <div class="container-fluid" id="home">
                <button class="btn" type="button" id="btnhome">
                    <h3 id="taladH">ตลาดประมูลการยางภาคเหนือ</h3>
                </button>
            </div>
        </nav>
    </div>

    <div id="democaru" class="carousel slide my-3" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/public/img/banner.png" alt="Los Angeles" class="d-block" style="width:100%">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="carousel-item">
                <img src="/public/img/banner.png" alt="Chicago" class="d-block" style="width:100%">
                <div class="carousel-caption"></div>
            </div>

            <div class="carousel-item">
                <img src="/public/img/banner.png" alt="New York" class="d-block" style="width:100%">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <div class="navbar" id="navmenu">ccvds dfsfsdfd
        <div class="btn-group" id="groupmenu">
            <button type="button" class="btn" id="btn1">Home Page</button>
            <button type="button" class="btn" id="btn2">Market Auction</button>
            <button type="button" class="btn" id="btn3">Auction History</button>
            <button type="button" class="btn" id="btn4">Profile</button>
            <button type="button" class="btn" id="btn5">Auction Manual</button>
        </div>
    </div>

    

    <!-- <div class="container" id="cardTandM">
        <div class="row">
            <div class="col-sm-4">
                <div class="container" id="bordertalad">
                    <div class="card" id="cardtalad">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="../public/img/Auction.png" alt="" id="imgauc">
                            </div>
                            <div class="col-sm-6">
                                <div class="card-body">
                                    <p class="card-text" id="textauc">ตลาดประมูล</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container" id="borderbook">
                    <div class="card" id="cardbook">
                        <div class="row">
                            <div class="col-sm-5">
                                <img class="img-fluid" src="../public/img/Books.png" alt="" id="imgbook">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <p class="card-text" id="textmanul">คู่มือการประมูล</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



</body>

</html>