<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/log.css">
    <title>User(admin)</title>
</head>
<style>
    body,
    html {
        font-family: 'Inter';
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }

    #btnA1,
    #btnA2,
    #btnA3,
    #btnA4,
    #btnA5,
    #btnA6,
    #btnA7 {
        border: none;
    }

    #btnA1:hover,
    #btnA2:hover,
    #btnA3:hover,
    #btnA4:hover,
    #btnA6:hover,
    #btnA7:hover {
        background-color: #9F6E3F;
    }

    #btnA5 {
        background-color: #9F6E3F;
    }
</style>

<body id="body">

    <nav class="navbar " id="navhome">
        <div class="container-fluid" id="home">
            <button class="btn" type="button" id="btnhome">
                <h3 id="taladH">ตลาดประมูลการยางภาคเหนือ</h3>
            </button>
            <div class="dropdown">
                <button type="button" id="username" class="btn" data-bs-toggle="dropdown"><img
                        src="/public/img/userbutton.png" alt="" id="textuse"> Username</button>

                <ul class="dropdown-menu" id="dropuser">
                    <li><a class="dropdown-item" href="#"><img src="/public/img/userdrop.png" alt=""
                                id="img1">Profile</a></li>
                    <li><a class="dropdown-item" href="#"><img src="/public/img/key.png" alt="" id="img1">Change
                            Passwaord</a></li>
                    <li><a class="dropdown-item" href="#"><img src="/public/img/auctionuser.png" alt=""
                                id="img1">Auction</a></li>
                    <li><a class="dropdown-item" href="#"><img src="/public/img/logout.png" alt="" id="img1">Log
                            out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="navbar" id="navmenu">
        <div class="btn-group" id="groupmenu">
            <button type="button" class="btn" id="btnA7">Add News</button>
            <button type="button" class="btn" id="btnA2">Market</button>
            <button type="button" class="btn" id="btnA3">Market Sub</button>
            <button type="button" class="btn" id="btnA4">Auction</button>
            <button type="button" class="btn" id="btnA5">User</button>
            <button type="button" class="btn" id="btnA6">Backup-Restore</button>
        </div>
    </div>
    <br>
    <br>

    <div class="container" style="margin-right: 5em;">
        <div class="row mt-5">
            <div class="table-responsive my-custom">
                <table class="table" style="margin-left: 0;">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Bidder's name</th>
                            <th scope="col">Company name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody id="userDataBody">
                        <tr>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id="pagination-container" style="margin-left: 15em; margin-top: 2em; margin-bottom: 5em;">
        <ul class="pagination">
            <!-- ปุ่ม pagination จะถูกเพิ่มที่นี่ -->
        </ul>
    </div>



    <script>


        // fetch('/data')
        //     .then(response => response.json())
        //     .then(data => {
        //         const tableBody = document.querySelector('tbody');


        //         data.forEach(row => {
        //             const tr = document.createElement('tr');


        //             // สร้าง <td> และใส่ข้อมูลลงในแต่ละเซลล์

        //             const td1 = document.createElement('td');
        //             td1.textContent = row.action;
        //             tr.appendChild(td1);

        //             const td2 = document.createElement('td');
        //             td2.textContent = row.truename;
        //             tr.appendChild(td2);

        //             const td3 = document.createElement('td');
        //             td3.textContent = row.bussiness;
        //             tr.appendChild(td3);

        //             const td4 = document.createElement('td');
        //             td4.textContent = row.status;
        //             tr.appendChild(td4);

        //             const td5 = document.createElement('td');
        //             td5.textContent = row.email;
        //             tr.appendChild(td5);

        //             const td6 = document.createElement('td');
        //             td6.textContent = row.phone;
        //             tr.appendChild(td6);

        //             const td7 = document.createElement('td');
        //             td7.textContent = row.address;
        //             tr.appendChild(td7);

        //             // เพิ่มแถวลงใน tbody
        //             tableBody.appendChild(tr);
        //         });


        //     })

        //     .catch(error => {
        //         console.error('เกิดข้อผิดพลาดในการดึงข้อมูลผ่าน API: ', error);
        //     });





        // ฟังก์ชันในการแสดงข้อมูลสำหรับหน้าปัจจุบัน
        function displayData(data, startIndex, endIndex) {
            const tableBody = document.querySelector('#userDataBody');
            tableBody.innerHTML = '';

            const dataToDisplay = data.slice(startIndex, endIndex);


            dataToDisplay.forEach(row => {
                const tr = document.createElement('tr');

                // สร้าง <td> และใส่ข้อมูลลงในแต่ละเซลล์

                const td1 = document.createElement('td');
                td1.textContent = row.action;
                tr.appendChild(td1);

                const td2 = document.createElement('td');
                td2.textContent = row.truename;
                tr.appendChild(td2);

                const td3 = document.createElement('td');
                td3.textContent = row.bussiness;
                tr.appendChild(td3);

                const td4 = document.createElement('td');
                td4.textContent = row.status;
                tr.appendChild(td4);

                const td5 = document.createElement('td');
                td5.textContent = row.email;
                tr.appendChild(td5);

                const td6 = document.createElement('td');
                td6.textContent = row.phone;
                tr.appendChild(td6);

                const td7 = document.createElement('td');
                td7.textContent = row.address;
                tr.appendChild(td7);

                tableBody.appendChild(tr);
            });
        }

        function updatePagination(data) {
            const paginationContainer = document.querySelector('#pagination-container');
            paginationContainer.innerHTML = '';

            const totalPages = Math.ceil(data.length / itemsPerPage);

            const maxButtonsToShow = 7; // จำนวนสูงสุดของปุ่มที่แสดง

            let startPage = 1;
            let endPage = totalPages;

            if (totalPages > maxButtonsToShow) {
                // หากมีหลายหน้ามากกว่าจำนวนสูงสุดที่ต้องการแสดง
                // คำนวณหน้าเริ่มต้นและหน้าสุดท้ายที่จะแสดง
                const halfButtonsToShow = Math.floor(maxButtonsToShow / 2);
                startPage = currentPage - halfButtonsToShow;
                endPage = currentPage + halfButtonsToShow;

                if (startPage < 1) {
                    startPage = 1;
                    endPage = maxButtonsToShow;
                }

                if (endPage > totalPages) {
                    endPage = totalPages;
                    startPage = totalPages - maxButtonsToShow + 1;
                }
            }

            

            for (let i = startPage; i <= endPage; i++) {
                const pageButton = document.createElement('button');
                pageButton.textContent = i;

                // เพิ่มสไตล์สีพื้นหลังใน JavaScript
                pageButton.style.backgroundColor = '#ECF1E6';
                pageButton.style.border = 'none';

                pageButton.addEventListener('click', () => {
                    currentPage = i;
                    const startIndex = (currentPage - 1) * itemsPerPage;
                    const endIndex = startIndex + itemsPerPage;
                    displayData(data, startIndex, endIndex);
                    updatePagination(data);
                });

                paginationContainer.appendChild(pageButton);
            }
        }

        // การแสดงผลเริ่มต้น
        const itemsPerPage = 10;
        let currentPage = 1;

        // ดึงข้อมูลจาก API และเริ่มแสดงผลตารางและการแบ่งหน้า
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;
                displayData(data, startIndex, endIndex);
                updatePagination(data);
            })
            .catch(error => {
                console.error('เกิดข้อผิดพลาดในการดึงข้อมูลจาก API: ', error);
            });






            show();
        function show() {
            fetch('/data')
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    throw Error('Bad response');
                })
                .then(function (data) {
                    let show = '';
                    data.forEach(function (datamem) {
                        show = datamem.truename;
                        username.innerHTML = show;

                    })

                        .catch(function (err) {
                            alert(err);
                        });
                })
        }







        //====================================================================//
        document.querySelector('#btnhome').onclick = function () {
            location.assign('/homepage');
        }

        document.querySelector('#btnA2').onclick = function () {
            location.assign('/marketad');
        }

        document.querySelector('#btnA4').onclick = function () {
            location.assign('/auctionAd');
        }

        document.querySelector('#btnA7').onclick = function () {
            location.assign('/addnews');
        }

       

    </script>


</body>

</html>