
body, html {
    font-family: 'Inter';
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#navhome {
    background-color: #00672F;
}

#taladH {
    color: white;
}

#home {
    padding-left: 2em;
}

#username {
    margin-right: 3em;
    color: white;
    background-color: #00672F;
    border: none;
}

#btnhome {
    border: none;
}

#democaru {
    display: inline;
}

#navmenu {
    background-color: #322213;
}

.btn {
    color: white;
}

#btn1:hover {
    background-color: #9F6E3F;
}

#btn2 {
    border-left: 2px solid #9D8977;
}
#btn2:hover {
    background-color: #9F6E3F;
}

#btn3 {
    border-left: 2px solid #9D8977;
}
#btn3:hover {
    background-color: #9F6E3F;
}

#btn4 {
    border-left: 2px solid #9D8977;
}
#btn4:hover {
    background-color: #9F6E3F;
}

#btn5 {
    border-left: 2px solid #9D8977;
}
#btn5:hover {
    background-color: #9F6E3F;
}

#groupmenu {
    margin-left: 29em;
}

#h563, #h777, #h778 {
    border: 5px solid #322213;
}

#taladpramul {
    background-color: #00672F;
    margin-top: 5em;
    margin-left: 15em;
    border: 10px solid #007F3A;
    border-radius: 15px;
    padding-left: 3em;
}

#text5 {
    margin-left: 4em;
    overflow: hidden;
}

#Ttaladpramul {
    margin-top: 1.5em;
    color: #F5E12D;
}
